.instructor_card1_container {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 1rem 0;
    border-radius: 10px;
    margin: 0 0.5rem;
}



.instructor_card1_container .image img {
    width: 18rem;
    border-radius: 10px 10px 0 0;
}

.instructor_card1_container .footer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.instructor_card1_container .content {
    padding: 1rem;
}

.instructor_card1_container p {
    margin: 0.4rem;
}

.instrucors_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instrucors_footer button {
    background-color: #2993d1;
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 10px;
}

.instructor_card1_container .footer i {
    color: yellow;
}


@media only screen and (max-width: 990px) {
    .instructor_card1_container .image img {
        width: 24.5rem;
    }

}



@media only screen and (max-width: 780px) {
    .instructor_card1_container .image img {
        width: 35rem;
    }

    .instructor_card1_container p {
        font-size: 1.5rem;
    }
}


@media only screen and (max-width: 630px) {
    .instructor_card1_container .image img {
        width: 25rem;
    }

    .instructor_card1_container p {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 450px) {
    .instructor_card1_container .image img {
        width: 20rem;
    }

    
}